<!-- <h2>Please enter your message to the coach</h2>
<div class="container text-center">

  <input type="text" id="your-message" placeholder="your message">
  <input type="submit">
</div> -->


<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
